<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> settings </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900|Material+Icons'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet"  href="../css/account settings.css"/>
</head>
<body>
<div class="container">
  <button class="btn"><span>Account Settings</span><i class="material-icons">public</i>
    <ul class="dropdown">
      <li class="active"><a href="user profile.html">Profile Information</a></li>
      <li><a href="#">Change Password</a></li>
      <li><a href="../html/subscription.html">Become <b>PRO</b></a></li>
      <li><a href="#">Help</a></li>
      <li><a href="../html/FIRST PAGE .HTML">Log Out</a></li>
    </ul>
  </button>
</div>  
</body>
</html>